@page
@model FleetDeadlines.Pages.Fleet.FindModel
@{
    ViewData["Title"] = "Add new Vehicle to Fleet";
}

<div class="row row-cols-sm-auto flex-row-reverse">
    <div class="col-1">
        <form asp-page="/Fleet" method="post">
            <input type="hidden" asp-for="ThisVehicle.RegistrationNumber" />
            <a asp-page="./Index">Cancel and Back</a> |
            <input type="submit" value="Add" class="btn btn-primary" />
        </form>
    </div>

    <div class="col-2 flex-fill"></div>
    
    <div class="col-3">
        <h4>
            Vehicle Details:
              @Html.DisplayFor(model => model.ThisVehicle.RegistrationNumber)
            - @Html.DisplayFor(model => model.ThisVehicle.Make)
            - @Html.DisplayFor(model => model.ThisVehicle.Colour)
            - @Html.DisplayFor(model => model.ThisVehicle.YearOfManufacture)
        </h4>
    </div>
</div>

<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        @foreach (var field in Model.ThisVehicle.GetType().GetProperties())
        {
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">@field.Name</label>
                    <input value="@field.GetValue(Model.ThisVehicle)" class="form-control" disabled />
                </div>
            </div>    
        }
    </div>
</form>