@page
@model FleetDeadlines.Pages.Fleet.IndexModel
@{
    ViewData["Title"] = "Manage Fleet";
}


<div class="text-center">
    <h1 class="display-4">Fleet</h1>

    <form method="post" asp-page-handler="RVNLookup" class="row p-4 row-cols-sm-auto g-2 bg-light mt-4 align-items-center">
        <div class="col-1 w-25">
            <label for="NewRVN">
                <strong>
                    Add new Vehicle: 
                </strong>
            </label>
        </div>
        <div class="col-2 w-50">
            <input type="text" name="NewRVN" id="NewRVN" class="form-control" placeholder="Enter VRN without any spaces" />
        </div>
        <div class="col-3 w-25">
            <button type="submit" class="btn btn-primary">
                <strong>
                    Find and Add
                </strong>
            </button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].YearOfManufacture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(model => item.YearOfManufacture)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.RegistrationNumber">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.RegistrationNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
